
input {
    font-size: 2rem !important;
    line-height: 3rem !important;
}

select {
    font-size: 2rem !important;
    line-height: 3rem !important;
}

.row {
    margin-top: 50px !important;
}

#BtnSubmit{
    text-align: center;
    height: 4rem !important;
    width: 400px !important;
    font-size: 2rem !important;
    /* margin-left: 40% !important;
    padding: auto !important; */
}

#BtnClear{
    text-align: center;
    height: 4rem !important;
    width: 400px !important;
    font-size: 2rem !important;
    /* margin-left: 5px !important; */
    /* padding: auto !important; */
}

#paraInfo{
    text-align: center !important;
    color: #0b3169;
}

#headApp {
    text-align: right;
    
}

table td,th {
    font-size: 2rem !important;
    line-height: 3rem !important;
}

body{
    font-size: 2rem !important;
    background-color: whitesmoke;
    color: black !important;
}

select, input {
    line-height: 2rem !important;
}

/* #updateDate {
    margin-right: 10px !important;
} */





@media (max-width: 992px){
    div.columns {
        margin-top: 2rem !important;
    }
}

